body {
  margin: 0;
  font-family: sans-serif;
}

.box {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}

.box1 { background: #3498db; }
.box2 { background: #2ecc71; }
.box3 { background: #e74c3c; }